#TIMESPEC TS_clk50 = PERIOD "clk50" 20 ns HIGH 50%;LOC = "K3"; # IO_L42P_GCLK25_TRDY2_M3UDM

#Created by Constraints Editor (xc6slx9-ftg256-3) - 2015/04/11
#NET "clk50" TNM_NET = clk50;



# Clocks
NET "CLK50" PERIOD = 20 ns | LOC = "K3";
#NET "CLK32" PERIOD = 31.25 ns | LOC = "J4";

# DIP Switches
NET "SW<0>"   LOC="L1" | IOSTANDARD=LVTTL | PULLUP;
NET "SW<1>"   LOC="L3" | IOSTANDARD=LVTTL | PULLUP;
NET "SW<2>"   LOC="L4" | IOSTANDARD=LVTTL | PULLUP;
NET "SW<3>"   LOC="L5" | IOSTANDARD=LVTTL | PULLUP;

# LEDs
NET "LEDS<0>" LOC="P11" | IOSTANDARD=LVTTL | DRIVE=8 | SLEW=SLOW;
NET "LEDS<1>" LOC="N9"  | IOSTANDARD=LVTTL | DRIVE=8 | SLEW=SLOW;
NET "LEDS<2>" LOC="M9"  | IOSTANDARD=LVTTL | DRIVE=8 | SLEW=SLOW;
NET "LEDS<3>" LOC="P9"  | IOSTANDARD=LVTTL | DRIVE=8 | SLEW=SLOW;
NET "LEDS<4>" LOC="T8"  | IOSTANDARD=LVTTL | DRIVE=8 | SLEW=SLOW;
NET "LEDS<5>" LOC="N8"  | IOSTANDARD=LVTTL | DRIVE=8 | SLEW=SLOW;
NET "LEDS<6>" LOC="P8"  | IOSTANDARD=LVTTL | DRIVE=8 | SLEW=SLOW;
NET "LEDS<7>" LOC="P7"  | IOSTANDARD=LVTTL | DRIVE=8 | SLEW=SLOW;

NET "PORTA<0>"  LOC="E7"  | IOSTANDARD=LVTTL;
NET "PORTA<1>"  LOC="C8"  | IOSTANDARD=LVTTL;
NET "PORTA<2>"  LOC="D8"  | IOSTANDARD=LVTTL;
NET "PORTA<3>"  LOC="E8"  | IOSTANDARD=LVTTL;
NET "PORTA<4>"  LOC="D9"  | IOSTANDARD=LVTTL;
NET "PORTA<5>"  LOC="A10" | IOSTANDARD=LVTTL;
NET "PORTA<6>"  LOC="B10" | IOSTANDARD=LVTTL;
NET "PORTA<7>"  LOC="C10" | IOSTANDARD=LVTTL;
NET "PORTA<8>"  LOC="E10" | IOSTANDARD=LVTTL;
NET "PORTA<9>"  LOC="F9"  | IOSTANDARD=LVTTL;
NET "PORTA<10>" LOC="F10" | IOSTANDARD=LVTTL;
NET "PORTA<11>" LOC="D11" | IOSTANDARD=LVTTL;

# Port B I/O Pins
NET "PORTB<0>"  LOC="E11" | IOSTANDARD=LVTTL;
NET "PORTB<1>"  LOC="D14" | IOSTANDARD=LVTTL;
NET "PORTB<2>"  LOC="D12" | IOSTANDARD=LVTTL;
NET "PORTB<3>"  LOC="E12" | IOSTANDARD=LVTTL;
NET "PORTB<4>"  LOC="E13" | IOSTANDARD=LVTTL;
NET "PORTB<5>"  LOC="F13" | IOSTANDARD=LVTTL;
NET "PORTB<6>"  LOC="F12" | IOSTANDARD=LVTTL;
NET "PORTB<7>"  LOC="F14" | IOSTANDARD=LVTTL;
NET "PORTB<8>"  LOC="G12" | IOSTANDARD=LVTTL;
NET "PORTB<9>"  LOC="G14" | IOSTANDARD=LVTTL;
NET "PORTB<10>" LOC="H14" | IOSTANDARD=LVTTL;
NET "PORTB<11>" LOC="J14" | IOSTANDARD=LVTTL;
